paper-dialog {
    max-height: inherit!important;
    position: relative!important;
    margin: 30px auto;
    border-radius: 5px;
}
@media (min-width: 992px) {
    paper-dialog {
        width: 900px!important;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    paper-dialog {
        width: 600px!important;
    }
}
@media (max-width: 660px) {
    paper-dialog {
        width: 90%!important;
    }
}

modaldialog {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  z-index: 998;
  background: rgba(0, 0, 0, 0.5);
}