<div class="pheader">
    <h2>{{data.name}}
        <ng-template ngFor let-label [ngForOf]="headerLabels">
            <ptooltip [tooltip]="label.tooltip.text"
                      [tooltipHtml]="prefixInternalLink(label.tooltip.html)" [position]="'s'">
                <div class="label mylabel {{label.clazz}}" [style.color]="label.color"
                     [style.background-color]="label.backgroundColor">
                    {{label.name}}
                </div>
            </ptooltip>
        </ng-template>
        <small><a href="{{data.url}}" target="_blank">{{data.url}}</a></small>
    </h2>
</div>
<div class="grid-content">
    <pcard *ngIf="displayDescription" heading="{{bodyTitle}}" class="description">
        <div [innerHTML]="description | sanitizeHtml" class="description"></div>
    </pcard>

    <ng-template ngFor let-entry [ngForOf]="tags" let-i="index">
        <pcard heading="{{headers[i]}}">
            <p class="card-content">
                <a *ngIf="types[i] === 'url'" class="anchored"
                   href="{{entry.link}}"
                   target="_blank">{{entry.text}}</a>
                <ng-template *ngIf="types[i] === 'label'" ngFor let-label [ngForOf]="entry">
                    <ptooltip *ngIf="!tooltipAsText"
                              [tooltip]="label.tooltip.text"
                              [tooltipHtml]="prefixInternalLink(label.tooltip.html)" [position]="'n'">
                        <div class="label mylabel {{label.clazz}}" [style.color]="label.color"
                             [style.background-color]="label.backgroundColor"
                             (click)="labelClick(label, i)">
                            {{label.name}}
                        </div>
                    </ptooltip>
                    <div *ngIf="tooltipAsText" class="tt-container">
                        <span class="label mylabel {{label.clazz}} tt-label" [style.color]="label.color"
                              [style.background-color]="label.backgroundColor"
                              (click)="labelClick(label, i)">
                        {{label.name}}
                        </span>
                        <span class="tooltip-text tt-tooltip" [innerHtml]="label.tooltip.text|sanitizeHtml"></span>
                        <br *ngIf="label.tooltip.text && label.tooltip.html">
                        <span class="tooltip-text tt-tooltip" [innerHtml]="prefixInternalLink(label.tooltip.html|sanitizeHtml)"></span>
                    </div>
                </ng-template>

                <span *ngIf="types[i] === 'text'">{{entry.content}}</span>

                <span *ngIf="types[i] === 'markdown'" [innerHtml]="prefixInternalLink(entry?.htmlContent | sanitizeHtml)"></span>
            </p>
        </pcard>
    </ng-template>

    <pcard heading="Ratings" *ngIf="ratings.length > 0" style="display:block">
        <div class="card-content">
            <ng-template ngFor let-rating [ngForOf]="ratings">
                <dl>
                    <dt>
                        <iicon icon="star">{{rating.stars}}</iicon>
                    </dt>
                    <dd>
                        {{rating.comment}}
                    </dd>
                </dl>
            </ng-template>
        </div>
    </pcard>

    <pcard heading="References" *ngIf="configurationService.configuration.citation.size != 0" class="description">
        <referencestable [changeNum]="configurationService.configuration.citation.length"
                         [citationMap]="configurationService.configuration.citation" [prefix]="'details-'"></referencestable>
    </pcard>
</div>
