:host {
    display: grid;
    padding: 0;
}

.mylabel {
    margin: 2px;
    display: inline-block !important;
    cursor: pointer;
    font-size: 14px !important;
    white-space: inherit;
}

.card-content {
    position: relative;
}

.tooltip-text {
    display: inline-table;
}

.tooltip-text ::ng-deep ul {
    padding-left: 15px;
}

.pheader h2 {
    margin-top: 0;
}

.description {
    grid-column: span 1;
}

.grid-content {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-flow: row;
}

@media only screen and (min-width: 400px) {
    .description {
        grid-column: span 2;
    }

    .grid-content {
        grid-template-columns: 1fr 1fr;
    }
}

.tt-container {
    display: grid;
    grid-template-columns: auto 1fr;
}

.tt-label {
    grid-column: 1;
    margin: 1px 2px auto 2px;
}

tt-tooltip {
    grid-column: 2;
}
