:host {
    display: block;
}

table {
    min-width: 600px;
    margin-bottom: 0;
}

.mylabel {
    margin: 2px;
    display: inline-block !important;
    cursor: pointer;
    font-size: 14px !important;
    white-space: inherit;
}

.label-unknown {
    color: black;
    border: solid black 1px;
}

th > button {
    border: none;
    padding: 0;
    outline: none;
    background-color: inherit;
}

table tr {
    white-space: normal;
}

table {
    width: auto;
}

.anchored::before {
    content: '';
    display: block;
    height:48px;
    margin:-48px 0 0;
}