<table class="table table-hover">
    <thead style="background-color: white;">
    <tr>
        <ng-template ngFor let-column [ngForOf]="columns">
            <th>
                <button (click)="orderClick($event, column)">{{column}}
                    <iicon icon="keyboard-arrow-up" *ngIf="displayOrder(column.tag, -1)"></iicon>
                    <iicon icon="keyboard-arrow-down" *ngIf="displayOrder(column.tag, 1)"></iicon>
                </button>
            </th>
        </ng-template>
        <th style="width: 3%" name="details">
            <picon-button icon="settings" title="Settings" (click)="settingsCallback.emit()"></picon-button>
        </th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-item [ngForOf]="items" let-i="index"><!-- Do not remove this index here! -->
        <tr>
            <ng-template ngFor let-entry [ngForOf]="item" let-i="index">
                <td *ngIf="types[i] === 0"><a class="anchored"
                                              href="{{entry.link}}"
                                              target="_blank">{{entry.text}}</a>
                </td>
                <td *ngIf="types[i] ===  1">
                    <ng-template ngFor let-label [ngForOf]="entry">
                        <ptooltip [tooltip]="label.tooltip.text"
                                  [tooltipHtml]="label.tooltip.html" [position]="'n'">
                            <div class="label mylabel {{label.clazz}}" [style.color]="label.color"
                                 [style.background-color]="label.backgroundColor"
                                 (click)="labelClick(label, i)">
                                {{label.name}}
                            </div>
                        </ptooltip>
                        <ptooltip *ngIf="label == null"
                                  [tooltipHtml]="'There was no value for this field. Please submit one via pull request.'">
                            <div class="label mylabel unknown">unknown</div>
                        </ptooltip>
                    </ng-template>
                </td>
                <td *ngIf="types[i] === criteriaTypes.text">
                    {{entry.content}}
                </td>
                <td *ngIf="types[i] === criteriaTypes.markdown">
                    <div [innerHtml]="entry?.htmlContent | sanitizeHtml"></div>
                </td>
                <td *ngIf="types[i] === criteriaTypes.rating">
                    <iicon icon="star" *ngIf="entry">{{entry}}
                    </iicon>
                </td>
            </ng-template>
            <td>
                <picon-button icon="info" title="Details" (click)="showDetails.emit(index[i])"></picon-button>
            </td>
        </tr>
    </ng-template>
    </tbody>
</table>
        
