<a href="{{confServ.comparison?.repository}}" class="github-corner">
    <svg width="80" height="80" viewBox="0 0 250 250" style="cursor:pointer; fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;">
        <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
        <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
            fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
            <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
                fill="currentColor" class="octo-body"></path>
    </svg>
</a>
<div class="container">
    <div class="page-header">
        <h1>{{confServ.comparison?.title}}
            <small>{{confServ.comparison?.subtitle}}</small>
        </h1>
    </div>
    <pcard class="large-paper-card" *ngIf="confServ.description">
        <div class="card-content">
            <div [innerHtml]="confServ.description|citation:[citationServ]|sanitizeHtml" class="description"></div>
        </div>
    </pcard>
    <pcard [heading]="confServ.comparison?.selecttitle" class="large-paper-card">
        <div class="card-content">
            <template ngFor let-crit [ngForOf]="confServ.criteriaSet?.getCriteriaArray()">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            {{crit.name}}
                        </label>
                        <select2 [options]="crit.values" [placeholder]="crit.placeholder" (result)="criteriaChanged($event, crit)"></select2>
                    </div>
                </div>
            </template>
        </div>
    </pcard>
    <pcard heading="{{confServ.comparison?.tabletitle}}" class="super-large-paper-card">
        <div class="card-content">
            <table class="table table-hover" *ngIf="confServ.tableDataSet" style="min-width: 600px;margin-bottom: 0px;">
                <thead>
                    <tr>
                        <template ngFor let-column [ngForOf]="confServ.tableDataSet?.getTableDataArray() | tablefilter">
                            <th valign=column.valign style=column.style name=column.tag>
                                <button (click)="orderClick($event, column.tag)">
                                    {{column.name}}
                                    <iicon icon="keyboard-arrow-up" *ngIf="displayOrder(column.tag, -1)"></iicon>
                                    <iicon icon="keyboard-arrow-down" *ngIf="displayOrder(column.tag, 1)"></iicon>
                                </button>
                            </th>
                        </template>
                        <th style="width: 3% " name="details ">
                            <picon-button icon="settings" title="Settings" (click)="showTableProperties()"></picon-button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dat of dataServ.data | orderBy: [order,orderOption] | datafilter: [query,confServ.comparison?.displaytemplate]">
                        <template ngFor let-column [ngForOf]="confServ.tableDataSet.getTableDataArray() | tablefilter">
                            <td *ngIf="column.type?.tag==='url'"><a href="{{dat.getProperty(column.url).text}}" target="_blank">{{dat.getProperty(column.tag).text}}</a></td>
                            <td *ngIf="column.type?.tag==='text'">
                                <div [innerHtml]="dat.getProperty(column.tag).text|citation:[citationServ]|sanitizeHtml"></div>
                            </td>
                            <td *ngIf="column.type?.tag==='label'">
                                <template ngFor let-sitem [ngForOf]="dat.getPropertyListItems(column.tag)" *ngIf="column.type?.labelCls">
                                    <ptooltip [tooltip]="column.values[sitem.content]" [tooltipHtml]="sitem.htmlChilds|citation:[citationServ]" [position]="'n'">
                                        <div class="{{column.type.getCls(sitem.content)}} {{column.type.labelCls.getCls(sitem.content)}}  mylabel">
                                            {{sitem.content}}
                                        </div>
                                    </ptooltip>
                                </template>
                            </td>
                        </template>
                        <td>
                            <picon-button icon="info" title="Details" (click)="showDetails(dat)"></picon-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </pcard>
    <pcard heading="References" class="large-paper-card" *ngIf="citationServ.references&&citationServ.references.length>0&&confServ.description&&confServ.tableDataSet&&confServ.comparison">
        <div class="card-content">
            <table>
                <template ngFor let-entry [ngForOf]="citationServ.references">
                    <tr style="padding-left:5px;">
                        <td style="padding-right:10px;font-size:small;padding-top:3px;width:15%;" valign="top">{{citationServ.bibEntriesInline[entry]}}:</td>
                        <td [id]=entry [innerHtml]="citationServ.bibEntriesHtml[entry]|sanitizeHtml"></td>
                    </tr>
                </template>
            </table>
        </div>
    </pcard>
</div>
<pdialog #details>
    <comparison-details [data]=activeRow></comparison-details>
</pdialog>
<pdialog #settings>
    <div class="pheader">
        <h2>Table Settings</h2>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <h5>Select Columns...</h5>
            <pitem>
                <pcheckbox [checked]="confServ.displayAll" (checkedChange)="confServ.displayAllChange($event)" [label]="confServ.displayAllName"></pcheckbox>
            </pitem>
            <template ngFor let-column [ngForOf]="confServ.tableDataSet?.getTableDataArray()">
                <pitem>
                    <pcheckbox [(checked)]=column.display [label]="column.name"></pcheckbox>
                </pitem>
            </template>
        </div>
        <div class="col-md-6">
            <h5>Other Settings...</h5>
            <div *ngIf="confServ.comparison">
                <pitem>
                    <pcheckbox [(checked)]="confServ.comparison.displaytemplate" [label]="'Display Template'"></pcheckbox>
                </pitem>
                <h6>Latex</h6>
                <pitem>
                    <pbutton (click)="downloadLatexTable()">Download Table</pbutton>
                </pitem>
                <pitem>
                    <pcheckbox [(checked)]="showTable" (checkedChange)="previewLatexTable($event)" [label]="'Display Latex Table'"></pcheckbox>
                </pitem>
                <pitem>
                    <pcheckbox [(checked)]="showTableTooltips" [label]="'Show Tooltips'"></pcheckbox>
                </pitem>
                <pitem>
                    <pcheckbox [(checked)]="tableTooltipsAsFootnotes" [label]="'Display tooltip text in Footnotes'"></pcheckbox>
                </pitem>
            </div>
        </div>
    </div>
</pdialog>
<div *ngIf="confServ.tableDataSet" class="ltable container" #latextable>
    <pcard heading="Latex Table" class="large-paper-card">
        <div class="card-content" style="overflow: auto;">
            <!--
-->%\usepackage&#123;calc&#125;<br/> %\usepackage&#123;booktabs&#125;
            <br/> %\usepackage&#123;url&#125;
            <br/> %\usepackage&#123;hyperref&#125;
            <br/> %\usepackage&#123;footnote&#125;
            <br/> %\usepackage&#123;scrextend&#125;
            <br/> %\makesavenoteenv&#123;tabular&#125;
            <br/> %\makesavenoteenv&#123;tabule&#125;
            <br/> \begin&#123;tabular&#125;&#123;&#64;&#123;&#125;
            <template ngFor let-column [ngForOf]="confServ.tableDataSet?.getTableDataArray() | tablefilter">p&#123;\linewidth/{{(confServ.tableDataSet?.getTableDataArray() | tablefilter).length}}&#125; </template>&#64;&#123;&#125;&#125;<br/>            \toprule
            <br/>
            <template ngFor let-column [ngForOf]="confServ.tableDataSet?.getTableDataArray() | tablefilter" let-last="last">{{column.name}}
                <!-- 
    -->
                <template [ngIf]="!last">&#38; </template>
                <!--
    -->
                <template [ngIf]="last">\\<br/></template>
            </template>\midrule<br/>
            <!-- iterate over data rows 
-->
            <template ngFor let-dat [ngForOf]="dataServ.data | orderBy: [order,orderOption] | datafilter: [query,confServ.comparison?.displaytemplate]">
                <!-- 
    iterate over data columns 
    -->
                <template ngFor let-column [ngForOf]="confServ.tableDataSet?.getTableDataArray() | tablefilter" let-last="last">
                    <!-- 
        print url 
        -->
                    <template [ngIf]="column.type?.tag==='url'">{{dat.getProperty(column.tag).text}}</template>
                    <!-- 
        print text 
        -->
                    <template [ngIf]="column.type?.tag==='text'">
                        <div [innerHtml]="dat.getProperty(column.tag).text|citation:[citationServ, true]|sanitizeHtml"></div>
                    </template>
                    <!--
        print labels 
        -->
                    <template [ngIf]="column.type?.tag==='label'">
                        <!--
            iterate over labels 
            -->
                        <template ngFor let-sitem [ngForOf]="dat.getPropertyListItems(column.tag)" let-lastItem="last" *ngIf="column.type?.labelCls">
                            <!--
                print label 
                -->{{sitem.content}}
                            <!--
                    tooltip
                    -->
                            <template [ngIf]="sitem.latexChilds">
                                <!--
                        print tooltips?
                        -->
                                <template [ngIf]="showTableTooltips">
                                    <!--
                            print tooltips in footnotes
                            -->
                                    <comparison-footnote [footnote]="sitem.latexChilds" *ngIf="tableTooltipsAsFootnotes"></comparison-footnote>
                                    <!--
                            print tooltips after labels    
                            -->
                                    <div [innerHtml]="sitem.latexChilds|citation: [this.citationServ, true]|sanitizeHtml"></div>
                                    <!--
                        -->
                                </template>
                                <!-- 
                    -->
                            </template>
                            <!-- 
                    label seperator -->
                            <template [ngIf]="!lastItem">, </template>
                            <!--
            -->
                        </template>
                        <!--
        -->
                    </template>
                    <template [ngIf]="!last"> &#38; </template>
                    <template [ngIf]="last">\\<br/></template>
                    <!--
    -->
                </template>
            </template>\bottomrule<br/> \end&#123;tabular&#125;
            <br/>
            <template [ngIf]="tableTooltipsAsFootnotes">
                \newcommand\snum&#123;0&#125;
                <template ngFor let-item [ngForOf]="serv.getFootnotes()">
                    <div [innerHtml]="item|sanitizeHtml"></div>
                </template>
            </template>
        </div>
    </pcard>
</div>
<div class="footer">
    <div class="container">
        This is an <a href="http://ultimate-comparisons.github.io/">Ultimate Comparison</a> | content licensed under
        <a rel="license"
            href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License CC-BY-SA 4.0" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"
            /></a>
    </div>
</div>