<div class="page-header" style="padding-left: 15px; padding-top: 0px; margin-top: 0px;">
    <h2>{{getHeaderText()}}
    <template ngFor let-sitem [ngForOf]="data?.getPropertyListItems(confServ.comparison?.details.headerLabel)" *ngIf="confServ.comparison">
        <div class="{{getHeaderLabel()?.cls}} {{getHeaderLabel()?.labelCls?.getCls(sitem.content)}}  mylabel">
            <tooltip [tooltipPlacement]="'bottom'" [tooltip]="'<p>' + getHeaderColumn()?.values[sitem.content] + '</p><p>' + sitem.htmlChilds + '</p>'" [tooltipAppendToBody]=true>{{sitem.content}}</tooltip></div>
    </template>
    <small><a href="{{getHeaderUrl()}}" target="_blank">{{getHeaderUrl()}}</a></small> 
    </h2>
</div>
<div class="content" style="padding-left:15px; padding-right: 15px;">
    <paper-card *ngIf="confServ.comparison" heading="{{confServ.comparison?.details.bodyMainTitle}}" style="display:block;">
        <div class="card-content" [innerHTML]="serv._sanitizer.bypassSecurityTrustHtml(getBody())"></div>
    </paper-card>

    <template ngFor let-atag [ngForOf]="confServ.comparison.details.bodyAttachmentTags" *ngIf="confServ.comparison">
        <paper-card heading="{{getTable(atag).name}}">
            <p class="card-content">
            <template ngFor let-sitem [ngForOf]="data?.getPropertyListItems(atag)">
                <span class="{{getTable(atag)?.type?.cls}} {{getTable(atag)?.type?.labelCls?.getCls(sitem.content)}}  mylabel"><tooltip [tooltipPlacement]="'bottom'" [tooltip]="'<p>' + getTable(atag)?.values[sitem.content] + '</p><p>' + sitem.htmlChilds + '</p>'" [tooltipAppendToBody]=true>{{sitem.content}}</tooltip></span>
            </template>
            </p>
        </paper-card>
    </template>
</div>