.selectbox {
  width: 100%;
}

/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
.mylabel {
   margin:2px;
   display:inline-block!important;
}

.select2-container--default {
    display: table!important;
    table-layout: fixed!important;
}
.select2-container {
    display: block;
    width:100%!important;
}