.selectbox {
  width: 100%;
}

/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
.mylabel {
   margin:2px;
   display:inline-block!important;
   cursor:pointer;
}

.select2-container--default {
    display: table!important;
    table-layout: fixed!important;
}
.select2-container {
    display: block;
    width:100%!important;
}
.github-corner:hover .octo-arm{
    animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave{
    0%,
    100%{transform:rotate(0)}20%,
    60%{transform:rotate(-25deg)}40%,
    80%{transform:rotate(10deg)}}
@media (max-width:500px){
    .github-corner:hover .octo-arm{
        animation:none
    }
    .github-corner .octo-arm{
        animation:octocat-wave 560ms ease-in-out
    }
}