.selectbox {
  width: 100%;
}

/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
.mylabel {
   margin:2px;
   display:inline-block!important;
   cursor:pointer;
   font-size: 14px!important;
}

.select2-container--default {
    display: table!important;
    table-layout: fixed!important;
}
.select2-container {
    display: block;
    width:100%!important;
}
.select2-container--default .select2-search--inline .select2-search__field {
    width: 100%!important;
}
.select2-container--default .select2-selection--multiple {
    border: 0px!important;
    border-bottom: 1px solid #aaa!important;
    border-radius: 0px!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{ 
    background-color: #777!important;
    color: #fff!important;
    font-weight: bold;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff!important;
}
.github-corner {
    z-index: 1000;
}
.github-corner svg {
    z-index: 999;
}
.github-corner:hover .octo-arm{
    animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave{
    0%,
    100%{transform:rotate(0)}20%,
    60%{transform:rotate(-25deg)}40%,
    80%{transform:rotate(10deg)}}
@media (max-width:500px){
    .github-corner:hover .octo-arm{
        animation:none
    }
    .github-corner .octo-arm{
        animation:octocat-wave 560ms ease-in-out
    }
}

paper-toolbar.header {
    background: white;
}

.header.paper-card .title-text.paper-card {
    font-size: 18px;
    padding-bottom: 0px;
}
paper-card.paper-card-0 {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.modal-container {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 998;
    background:hsla(0, 0%, 0%, 0.5);
}
.mc-opened {
    display: block!important;
}
.mc-closed {
    display: none;
}

.content paper-card {
    margin: 10px;
}
paper-dialog .page-header {
    padding-top: 15px;
}
paper-icon-button {
    padding: 0px;
    width: 20px;
    height: 20px;
}
paper-dialog {
    background: #ffffff;
    color: #212121;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}