comparison {
    min-height: 100%;
    position: relative;
    display: block;
}

.description > :first-child {
    margin-top: 0;
}

.description > :last-child {
    margin-bottom: 0;
}

.card-content {
    padding: 16px;
    position: relative;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
}

.footer > .container {
    padding: 10px;
}

pdialog {
    z-index: 5000;
}

.floatThead-container {
    z-index: 3000;
}

.ltable {
    display: none;
}

.large-paper-card {
    width: 100%;
    margin: 0 0 20px 0;
    padding-bottom: 0;
}

.super-large-paper-card {
    min-width: 100%;
    margin: 0 0 20px 0;
    padding-bottom: 0;
}

/* github corner */
.github-corner {
    z-index: 1000;
}

.github-corner svg {
    z-index: 999;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

.search-indicator {
    color: rgba(255, 0, 0, 0.52);
    font-size: 8pt;
    opacity: 80;
}

.range-search {
    border: 0 !important;
    border-bottom: 1px solid #aaa !important;
    border-radius: 0 !important;
    margin-top: 8px;
}

.range-search:focus {
    outline-width: 0;
}

.grid-container {
    display: grid;

    grid-template-rows: 25% auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;

}

@media screen and (min-width: 34em) {
    .grid-container {
        grid-template-columns: 40px 1fr 1fr 40px;
        grid-template-areas:
                ". header header ."
                ". main-1 main-2 ."
                ". main-3 main-3 .";
    }
}

@media screen and (max-width: 34em) {
    .grid-container {
        grid-template-columns: 20px 1fr 20px;
        grid-template-areas:
                ". header ."
                ". main-1 ."
                ". main-2 ."
                ". main-3 .";
    }
}

.grid-header {
    grid-area: header;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    border-bottom: 1px solid #eee;
    padding: 15px 15px 8px 15px;
    margin: 0px 0px 20px 0px;
}

.grid-main-1 {
    grid-area: main-1;
}

.grid-main-2 {
    grid-area: main-2;
}

.grid-main-3 {
    grid-area: main-3;
}