export class VersionInformation {
    public commit = "§§commit§§";
    public commitDate = "§§commitDate§§";
    public tag = "§§tag§§";
    public tagDate = "§§tagDate§§";
    public link = "https://github.com/ultimate-comparisons/ultimate-comparison-BASE/tree/§§tag§§";
}
