<div class="modal-container" #modalcontainer>
    <paper-dialog role="dialog" #details>
        <div class="page-header">
            <h2>{{header.text}}
            <template ngFor let-sitem [ngForOf]="data?.getPropertyListItems(detail['header-label'])">
                <div class="{{header?.label?.cls}} {{header?.label?.labelCls?.getCls(sitem.content)}}  mylabel">
                    <tooltip [tooltipPlacement]="'bottom'" [tooltip]="'<p>' + header.column?.values[sitem.content] + '</p><p>' + sitem.htmlChilds + '</p>'" [tooltipAppendToBody]=true>{{sitem.content}}</tooltip></div>
            </template>
            <small><a href="{{header.url}}" target="_blank">{{header.url}}</a></small>
            </h2>
        </div>
        <div class="content">
        <paper-card *ngIf="detail" heading="{{detail['body-main-title']}}" style="display:block;">
            <div class="card-content" [innerHTML]="_sanitizer.bypassSecurityTrustHtml(description)"></div>
        </paper-card>
        <template ngFor let-atag [ngForOf]="detail['body-attachment-tags']" *ngIf="detail">
            <paper-card heading="{{(table | arrayfilter : ['tag', atag])?.name}}">
                <p class="card-content">
                <template ngFor let-sitem [ngForOf]="data?.getPropertyListItems(atag)">
                    <span class="{{(table | arrayfilter : ['tag', atag])?.type?.cls}} {{(table | arrayfilter : ['tag', atag])?.type?.labelCls?.getCls(sitem.content)}}  mylabel"><tooltip [tooltipPlacement]="'bottom'" [tooltip]="'<p>' + (table | arrayfilter : ['tag', atag]).values[sitem.content] + '</p><p>' + sitem.htmlChilds + '</p>'" [tooltipAppendToBody]=true>{{sitem.content}}</tooltip></span>
                </template>
                </p>
            </paper-card>
        </template>
        </div>
        <div class="buttons">
            <paper-button dialog-confirm raised (click)="closeModal()">Close</paper-button>
        </div>
    </paper-dialog>
</div>