<div *ngIf="items">
    <div *ngIf="option=='default'">
        <select class="form-control" required [(ngModel)]="value" (ngModelChange)="selectedFunction()">
        <option *ngFor="let p of items" [value]="p.name" >
            {{p.name}}
        </option>
        </select>
    </div>
    
    <div *ngIf="option=='ng2'">
        <ng-select  [items]="mapme(items)" 
                    [placeholder]="placeholder"
                    (data)="dummy($event)" 
                    (selected)="ngselected($event)" 
                    (removed)="dummy($event)" 
                    (typed)="dummy($event)">
        </ng-select>
    </div>
    
    <div *ngIf="option=='select2'">
        <form let some_form="ngForm" (ngSubmit)="onSubmit()">
            <select id={{id}} class="form-control" multiple="multiple">
            <option *ngFor="let p of items" [value]="p.name" >{{p.name}}</option>
            </select>
        </form>
    </div>
</div>